<!DOCTYPE html>

<html ng-app="cookieApp" lang="">
  <head>
      <meta charset="utf-8">
      <title>Store userdata with cookies</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="style.css">
      <!--For icons-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
      <!--Angular JS library-->
      <script src="angular/angular.min.js"></script>
      <!--Angular JS cookie handle-->
      <script src="angular/angular-cookies.js"></script>
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Bootstrap library -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="main.js"></script>
  </head>

  <body>
    <div  ng-controller="cookieCtrl">
      <div class="userData">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th>Felhasználónév</th>
                <th>Email</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in Table">
                <th>{{ data.name }}</th>
                <td>{{ data.email }}</td>
                <td id="buttons">
                  <button class="btn btn-secondary" ng-click="delete">Törlés</button>
                  <button class="btn btn-secondary" ng-click="modify">Módosít</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
          <br>
          <div class="field" ng-hide="active == -1">
            <table class="table table-striped table-dark">
              <tbody>
                <tr>
                  <td>Felhasználónév:</td>
                  <td><input type="text" ng-model="userName"></td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td><input type="text" ng-model="userMail"></td>
                  <td id="button"> <button class="btn btn-secondary" ng-click="save">Mentés</button></td>
                </tr>
                <tr>
                  <td>Jelszó:</td>
                  <td><input type="text" ng-model="userPassword"></td><br>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
      
  </body>

</html>