*{
    box-sizing: border-box;
}
.userData{
    width: 70%;
    margin-right: auto !important;
    margin-left: auto !important;
}
.field{
    width: 30%;
    margin-right: auto !important;
    margin-left: auto !important;
}
.buttons{
    width:10% !important;
}