*{box-sizing: border-box;}
.table{ 
    margin-top: 1rem;
}
.btn{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
table{
    display: flex;
    justify-content: center;
}
.selectedData{
    margin-right: 0.5rem;
}
.inline{
    display: inline-block;
    margin-top: 0.5rem;
}

