body {
	font-family: Arial;
	font-size: 12px;
}

#container {
	padding: 10px;
	margin: 0px auto;
	border: 1px solid #ccc;
}

#header {
	width: 100%;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

#content {
	border: 1px solid #ccc;
}